#where-to-find-me img {
  height: 50px;
  width: 50px;
}

body {
  color: #EEE;
  background: #0066FF;
  background:-moz-radial-gradient(center, #0066FF, #0000CC);
  background:-webkit-gradient(radial, center center, 120, center center, 800, from(#0066FF), to(#0000CC));
  text-align: center;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-300px; 
  margin-top:-200px; 		
}

h1 { 
  font: 60px "Lobster", serif;
  text-shadow: #666 4px 4px 0;
  color: #EEE; 
}

h1 span { 
  display: inline-block;
  position: relative;position
}

.char1 { font-size:120px; position:relative; top:10px; left:-10px; }
.char2 { position:relative; top:-15px; left:-8px; }
.char3 { position:relative; top:-20px; left:-6px; }
.char4 { position:relative; top:-25px; left:-4px; }
.char5 { position:relative; top:-30px; left:-2px; }
.char6 { font-size:120px; }
.char7 { position:relative; top:-15px; left:0px; }
.char8 { position:relative; top:-20px; left:4px; }
.char9 { position:relative; top:-25px; left:6px; }
.char10 { position:relative; top:-30px; left:8px; }
.char11 { position:relative; top:-35px; left:12px; }
.char12 { position:relative; top:-40px; left:14px; }
.char13 { position:relative; top:-48px; left:20px; }
.char14 { position:relative; top:-56px; left:24px; }
